
.BackgroundImage {
  background: url("../../Images/reddishsky.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  min-width: 100vw;
  overflow: hidden;
}

.TodayWeekTable{

  padding-top: 10%;
  min-width: 600px;
  min-height: 600px;

}
.FullCalendar {

  background: silver;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 3%;


}
