.InputContainer {
  height: 100%;
  margin: 0;
  padding-left: 0.9%;

}


.SubmitButton {
  max-height: 30px;
  margin-top: 2.9%;
  margin-left: 0.5%;

}
.TableContainer {
  height: 100%;
  margin: 0;
}